<!DOCTYPE html>
<html lang="en">

<head>
    <title>Links</title>
    
   <!--  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

     <script type="text/javascript">
		url = 'http://groceries.asda.com/api/items/view?itemid=910000800509';
		r = requests.get(url);
		price = r.json()['items'][0]['price'];
		alert(price);
	</script>  -->
</head>

<body src="https://www.linkedin.com/learning/topics/python">
    <h1 id="course_heading">How are you?</h1>
    <!-- <iframe src="https://www.linkedin.com/learning/topics/python""></iframe>  -->
     <a href="http://stackoverflow.com" target="_blank">this page</a> and then 
    <button id="clickme">click me</button>
<!-- <script type="text/javascript" src="popup.js"></script> -->
    <h1 id="job_heading"></h1>
</body>
</html>
<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ url_for('static', filename='jquery.js') }}">\x3C/script>')</script>

<script type=text/javascript>
  $(function() {
    $('a#calculate').bind('click', function() {
      $.getJSON($SCRIPT_ROOT + '/_add_numbers', {
        a: $('input[name="a"]').val(),
        b: $('input[name="b"]').val()
      }, function(data) {
        $("#result").text(data.result);
      });
      return false;
    });
  });
</script>
<h1>jQuery Example</h1>
<p data-sitekey="6LdOLRgTAAAAAPYECt9KLIL_LLwOuuuHAUw7QUTm"  ><input type=text size=5 name=a> +
   <input type=text size=5 name=b> =
   <span id=result>?</span>
<p><a href=# id=calculate data-sitekey="6LdOLRgTAAAAAPYECt9KLIL_LLwOuuuHAUw7QUTm">calculate server side</a> -->